<!---<p>reactive-forms works!</p>-->
<h1>Nuevo Cliente</h1>

<form (ngSubmit) = "onSubmit()" [formGroup] = "formClient">

<label for="name">Nombre</label>
<input type="text" name="name" id="name" placeholder="Escribe tu nombre" formControlName = "name"/>

<label class="form-control" for="business">Sector</label>
<input type="text" name="business" id="business" placeholder="Sector" formControlName = "business"/>

<label class="form-control" for="phome">Telefono</label>
<input type="text" name="phone" id="phone" placeholder="Telefono" formControlName = "phone" required />

<label class="form-control" for="street">Calle</label>
<input type ="text" name="street" id="street" placeholder="Calle" formControlName = "street"/>

<label class="form-control" for="plan">Plan</label>
<input type ="text" name="plan" id="plan" placeholder="Plan" formControlName = "plan"/>

<label class="form-control" for="notes">Notas</label>
<textarea name="notes" for="notes" placeholder="Notas" maxlength="300" formControlName = "notes"></textarea>



<button class="btn btn-primary" type="submit" value="Añadir" [disabled]= "formClient.invalid" ng-class="{'disabled': myForm.$invalid}" ng-click="createUser(user)">Añadir</button>




<br>

<button type="goHome" mat-raised-button color="primary" class = "boton1" (click)="goHome()">Atras</button>

</form>


