<p>client-detail works!</p>
<div>
<h1 class="cabecera">FICHA DE CLIENTE</h1>


<div class="cabeceraDetalles">
<br>
<h3><strong>ID:</strong></h3> 
<br>
<p class="id">{{users.id}}</p>
<br>
  
<h3><strong>Nombre:</strong></h3> 
<br>
<p class="name">{{users.name}}</p>
<br>

<h3><strong>Trabajo:</strong></h3> 
<br>
<p class="name">{{users.business}}</p>
<br>

<h3><strong>Notas:</strong></h3> 
<br>
<p class="name">{{users.notes}}</p>
<br>

<h3><strong>Telefono:</strong></h3> 
<br>
<p class="name">{{users.phone}}</p>
<br>

<h3><strong>Calle:</strong></h3> 
<br>
<p class="name">{{users.street}}</p>
<br>
<h3><strong>Plan:</strong></h3> 
<p class="name">{{users.plan}}</p>

 
</div>

<br>
    
<button type="goHome" mat-button  class = "boton1" (click)="goHome()">Atras</button>



</div>