<p>client-detail works!</p>
<div>
<h1 class="cabecera">FICHA DE CLIENTE</h1>


<div class="cabeceraDetalles">

<h3><strong>ID:</strong></h3> 
<p class="id">{{users.id}}</p>
  
<h3><strong>Nombre:</strong></h3> 
<p class="name">{{users.name}}</p>

<h3><strong>Trabajo:</strong></h3> 
<p class="name">{{users.business}}</p>

<h3><strong>Notas:</strong></h3> 
<p class="name">{{users.notes}}</p>

<h3><strong>Telefono:</strong></h3> 
<p class="name">{{users.phone}}</p>

<h3><strong>Calle:</strong></h3> 
<p class="name">{{users.street}}</p>

<h3><strong>Plan:</strong></h3> 
<p class="name">{{users.plan}}</p>

 
</div>
    



</div>