

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  //Clientes
.clients{
  h2 {
    font-size: 2rem;
  }
  

ul ,p, li {
    font-size: 1.5rem;
    list-style-type: square;

}
}

//name
.name{
div, label, input{
font-size: 2rem;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-width: 3px;
    background-color: #f8fcfc;
    

}

}


      .example-card {
        max-width: 400px;
      }
      
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }


      button{
        width: 90%;
      padding:5px 10px;
      margin-top:32px;
      border:1px solid rgb(8, 8, 8);
      border-radius:5px;
      display:block;
      color:rgb(250, 245, 245);
      background-color:rgb(72, 72, 73);
      font-size: 20px;
    
    }