  


  <!--<navbar>-->

  <app-navbar></app-navbar>

  <br>

  <div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <h1 class="display-4">CRM DE RAÚL</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nemo quos, magnam perferendis in facere illum accusantium praesentium error modi quisquam, dicta reiciendis, quas cumque totam fugiat nulla repellendus odit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, maiores. Ipsam dolor.</p>
    <br>
    <a class="btn btn-primary btn-lg"  role="button"type="goClients"  >Inicia Sesión</a>
    <br><br>
    <a class="btn btn-primary btn-lg" role="button">Registrarse</a>
    

    <!--ELEMENTOS REUTILIZABLES-->

    <!-- Elements list menu -->

    <!--<mat-selection-list #users.name [multiple]="false" #users.id [multiple]="false">
        <mat-list-option *ngFor="let users of users " (click)="navigate(users.id, users.name, users.business, users.notes, users.phone, users.street, users.plan)">
          <p>
         {{users.id}} - {{users.name}}
        </p> 
                <mat-divider></mat-divider>
        </mat-list-option>
    </mat-selection-list>-->
  

  <!--a routerLink = "client-detail"-->

  