

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  //Clientes
.clients{
  h2 {
    font-size: 2rem;
  }
  

ul ,p, li {
    font-size: 1.5rem;
    list-style-type: square;

}
}

//name
.name{
div, label, input{
font-size: 2rem;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-width: 3px;
    background-color: #f8fcfc;
    

}

}


      .example-card {
        max-width: 400px;
      }
      
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }


      button{
       
      padding:5px 10px;
      margin-top:-9px;
      margin-left: 150px;
      
      border-radius:0px;
      display:block;
      color:rgb(250, 240, 240);
      background-color:rgb(10, 10, 10);
      font-size: 20px;
      
      position: absolute;
    }

    $whiteColor: white;
$d55Color: #080808;

.container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  .sidenav{
    background-color: $d55Color;
    color:rgb(250, 240, 240);
    
    .toolbar{
      color: $d55Color;
      background-color: $whiteColor;
      display: flex;
      justify-content: center;
    }

    .mat-selection-list{

          .mat-list-option p {
            color:rgb(250, 240, 240);
            margin-top: 300px;

            
          }



        
    }
  
    /*
    * Navigation
    */
    .mat-list-item a{
     
      text-decoration: none;
    }
    
  }

  .mat-sidenav-content{
    .toolbar{
     
   


    .mat-tab-group{

  
      color:rgb(8, 8, 8);
      margin-left: 8rem ;
      margin-top: 8rem;
    .mat-tab{
      color:rgb(2, 2, 2);

    }

 
   
      }

    
  
   



   }
   
   
    }





  }
