

 <app-navbar></app-navbar>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">{{users.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Telefono</th>
        <td>{{users.phone}}</td>
      </tr>
      <tr>
        <th scope="row">Calle</th>
        <td>{{users.street}}</td>
        
      </tr>
      <tr>
        <th scope="row">Empresa</th>
        <td colspan="2">{{users.business}}</td>
      </tr>
      <tr>
        <th scope="row">Plan</th>
        <td colspan="2">{{users.plan}}</td>
      </tr>
      <tr>
        <th scope="row">Notas</th>
        <td colspan="2">{{users.notes}}</td>
      </tr>
    </tbody>
  </table>